<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2021.
  ~ The Emperors project is controlled by the GNU General Public License v3.0.
  ~ You can find it in the LICENSE file on the GitHub repository.
  -->

<configuration>
    <property name="HOME_LOG" value="logs/latest.log"/>
    <appender name="console-info" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%gray([%d{HH:mm:ss}]) %gray(%-5level) - %white(%msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="console-warn" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%yellow([%d{HH:mm:ss}]) %yellow(%-5level) - %yellow(%msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="console-error" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%red([%d{HH:mm:ss}]) %red(%-5level) - %red(%msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/log.%d{dd-MM-yyyy}_%d{HH:mm:ss,aux}.log</fileNamePattern>
            <TimeBasedFileNamingAndTriggeringPolicy class="me.onlyfire.emperors.policy.StartupTimeBasedTriggeringPolicy" />
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="console-info"/>
        <appender-ref ref="console-warn"/>
        <appender-ref ref="console-error"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
